# Unity Folders
Temp/
Logs/
Library/
obj/
Builds/

# Unity Packages
Assets/TextMesh Pro/
Assets/TextMesh Pro\.meta

# JetBrains Folders
\.idea/
Assets/Plugins/
Assets/Plugins\.meta

# Project Files
CMGTSaxion\.sln
*.csproj

# CLOC
Assets/Scripts/cloc\.exe
Assets/Scripts/cloc\.exe\.meta
Assets/Scripts/codeAnalizer\.bat
Assets/Scripts/codeAnalizer\.bat\.meta