# Unity Default Folders
Temp/
Logs/
Library/
obj/

# JetBrains Folders
\.idea/
Assets/Plugins/
Assets/Plugins\.meta

# Unity Packages
Assets/TextMesh Pro/
Assets/TextMesh Pro\.meta

# Project Files
CMGTSaxion\.sln
*.csproj
