# Unity Default Folders
Temp/
Logs/
Library/
obj/

# Unity Themes
Zios\.CompleteFramework\.csproj
Zios\.CompleteFramework\.Editor\.csproj
Assets/@unity-themes-master\.meta
Assets/@unity-themes-master/

# JetBrains Folders
\.idea/
Assets/Plugins/
Assets/Plugins\.meta